.sub-title{
	display: block;
	border: 1px solid black;
	padding-left: 35px;
}
.main{
	margin-right: 0px;
	border: 1px solid black;
	cursor: pointer;
}

.no-padding{
	padding: 0;
}

.main > ul{
	padding-left: 0;
	margin-bottom: 0;
	cursor: pointer;
}

.main > span{
	text-align: center;
}

.main-title{
	border: 1px solid black;
	cursor: pointer;
}

.show-cate {
	display: block;
}

 .toogle-cate > ul{
	display: none;
}

.img-earth{
	width: 20px;
	height: 20px;
}